{% load static %}
<!DOCTYPE html>
<head>
    
    <title>Validation Tool</title>
    <meta charset="utf-8" />
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' />
    <link href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.css' rel='stylesheet' />
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>
    <style>
      body {
          margin:0;
          padding:0;
      }
      .map {
          position:absolute;
          left:0;
          width: 60%;
          height: 100%;
      }
      .controls {
          position:absolute;
          right: 0;
          width: 40%;
          height: 100%;
      }
      #check,#ban {
          display:none;
      }
      .legend {
          line-height: 18px;
          color: #555;
      }
      .legend i {
          width: 18px;
          height: 18px;
          float: left;
          margin-right: 8px;
          opacity: 0.7;
      }
      .info { 
          padding: 6px 8px; 
          font: 14px/16px Arial, Helvetica, sans-serif; 
          background: white; 
          background: rgba(255,255,255,0.8); 
          box-shadow: 0 0 15px 
          rgba(0,0,0,0.2); 
          border-radius: 5px; 
      }
      .info h4 { margin: 0 0 5px; color: #777; }
      .legend div {
        padding: 6px;
      }
    </style>
</head>
<body>



<div id="map" class="map"></div>
<div class="controls">
    <div class="container">
        <div class="notification">
            <h1 class="title">{{ name }}</h1>
            <img src= "{{ path }}">
            <p class="title">Predicted class:</p>
            <p class="subtitle" id="predicted"></p>
            <p class="title">Confidence:</p>
            <p class="subtitle" id="confidence"></p>
            <p class="title">Interpreted class:</p>
            <p class="subtitle" id="interpret"></p>
            <div class="select is-primary">
              <select id="classes">
                  {% for tag in tags_list %}
                      {% if tag.value != "No Data" and tag.value != "Shadows" and tag.value != "Clouds" %}
                  <option value={{ tag.id }}>{{ tag.value }}</option>
                      {% endif %}
                  {% endfor %}
              </select>
            </div>
            <p class="title">Validated:</p>
            <p class="subtitle" id="validated"></p>
            <p class="title">Remaining:</p>
            <p class="subtitle" id="remaining"></p>
            <div>
                <a class="button is-dark" id="update">Update</a>
                <a class="button is-dark" id="validate">Validate</a>
                <a class="button is-dark" id="move">Move to Current</a>
            </div>
            <p>Validated:</p>
            <span id="check" class="icon has-text-success">
                <i class="fas fa-check-square"></i>
            </span>
            <span id="ban" class="icon has-text-danger">
                <i class="fas fa-ban"></i>
            </span>
            <div>
                <a class="button is-info" id="prev">Previous</a>
                <a class="button is-info" id="next">Next</a>
            <div>
            <a href="{% url 'logout' %}">logout</a>
        </div>
    </div>
</div>
{% csrf_token %}
<script>
    L.mapbox.accessToken = 'pk.eyJ1IjoiYW1hdSIsImEiOiIxTmxLVWlVIn0.JJuKgBjkpUtOs0VZjtmJRw';
    var map = L.mapbox.map('map', 'mapbox.satellite').setView([17.67267270, -61.87117753293441], 15);
    var controlLayers = L.control.layers().addTo(map);
    var polygonLayer = L.geoJSON();
    controlLayers.addOverlay(polygonLayer, 'Caribbean Landcover');
    polygonLayer.addTo(map);
    map.on('moveend', function(event){
        console.log("Current position: " + map.getCenter());
    });
    var tagUrl = '/caribbeanapi/tag/';
    var sampleUrl = '/caribbeanapi/sample/';
    var countryUrl = '/caribbeanapi/country/';
    var countUrl = '/count/';

    function loadUrl(url, callback) {
        fetch(url,{
    headers: {
      'Accept': 'application/json',
      'X-Requested-With': 'XMLHttpRequest'
        },
    credentials: 'include'
                })
            .then((response) => response.json())
            .then(function(data) {
                callback(data);
                if(data.next) {
                    loadUrl(data.next, callback);
                }
            }).catch(function(error) {
                console.log(error)
            });
    }

    var painted = [];
    var objects = [];
    var tags = {{ tags|safe }};
    var countries = {{ countries|safe }};
    var selectedPolygonId = null;
    var selectedObject = null;

    function getInfoFromArray(myarray, id, field){
        var color = null;
        myarray.forEach(function(element){
            if(element['id'] == id) {
                color = element[field];
            }
        });
        return color;
    }

    function paintPolygons(data) {
        data['results'].forEach(function(obj){
            var polygon = omnivore.wkt.parse(obj["the_geom"]);
            painted.push(polygon._leaflet_id);
            objects.push(obj);
            var color = "#fff";
            color = getInfoFromArray(tags, obj["tag_editable"], "color");
            polygon.on("click", function(element){
                moveToPolygon(polygon._leaflet_id);
            });
            polygon.on("mouseover", highlightFeature);
            polygon.on("mouseout", resetHighlight); 
            var validated = obj["validated"];
            var fillOpacity = .5;
            var dashArray = '10';
            if(validated) {
               fillOpacity = 1;
               dashArray = '';
            }
            polygon.setStyle({fillColor: color,
                              weight: 4,
                              opacity: fillOpacity,
                              color: 'white',
                              dashArray: dashArray,
                              fillOpacity: fillOpacity}).addTo(polygonLayer);
            if(selectedObject == null) {
                moveToPolygon(polygon._leaflet_id);
            }    
        });
    }

    function resetHighlight(e) {
        var layer = e.target;
        var color = 'white'
        console.log(selectedPolygonId);
        console.log(layer._leaflet_id);
        if(selectedPolygonId == layer._leaflet_id){
            color = 'black'
        }
        layer.setStyle({
            color: color,
        });
        if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
            layer.bringToFront();
        }
    }

    function highlightFeature(e) {
        var layer = e.target;
        layer.setStyle({
            color: 'red',
        });
    }

    function moveToPolygon(id) {
        var obj = getObjectFromId(id);
        var polygon = polygonLayer.getLayer(id);
        paintInfo(obj);
        selectedPolygonId = id;
        selectedObject = obj;
        polygon.setStyle({
            color: 'black',
        });
        map.fitBounds(polygon.getBounds());
    }

    function paintInfo(element) {
        document.getElementById("predicted").innerHTML = getInfoFromArray(tags, element["tag"], "value");
        document.getElementById("confidence").innerHTML = element["confidence"];
        document.getElementById("interpret").innerHTML = getInfoFromArray(tags, element["tag_editable"], "value");
        if(element["validated"]) {
                document.getElementById("check").style.display = "block";
                document.getElementById("ban").style.display = "none";
        } else {
                document.getElementById("check").style.display = "none";
                document.getElementById("ban").style.display = "block";
        }
    }

    function printRequest(content) {
        console.log(content);
        var validatedTag = document.getElementById("validated");
        var remainingTag = document.getElementById("remaining");

        validatedTag.innerHTML = content["validated"];
        remainingTag.innerHTML = content["remaining"];
    }

    function repaintUpdate(objectInfo, polygonId) {
        polygonLayer.getLayer(polygonId).setStyle({fillColor: getInfoFromArray(tags, objectInfo["tag_editable"], "color")});
        selectedObject = objectInfo;
        objects[painted.indexOf(polygonId)] = selectedObject;
        paintInfo(selectedObject);
        loadUrl(countUrl, printRequest);
    }

    function getObjectFromId(id) {
        return objects[painted.indexOf(id)];
    }

    function getNext(id) {
        var index = painted.indexOf(selectedPolygonId);
        return painted[(((index + 1) % painted.length) + painted.length) % painted.length];
    }

    function getPrev(id) {
        var index = painted.indexOf(selectedPolygonId);
        return painted[(((index - 1) % painted.length) + painted.length) % painted.length];
    }

    function updateInfoBis(url, polygonId, updateObj, callback) {
        var xhr = new XMLHttpRequest();
        var token = document.querySelectorAll('[name="csrfmiddlewaretoken"]')[0].value;
        xhr.open('PATCH', url);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.setRequestHeader('X-CSRFToken', token);
        xhr.withCredentials = true
        xhr.onload = function() {
            if (xhr.status === 200) {
                var objectInfo = JSON.parse(xhr.responseText);
                callback(objectInfo, polygonId);
            }
        };
        xhr.send(JSON.stringify(updateObj));
        console.log(xhr);
    }

    var legend = L.control({position: 'bottomleft'});

    legend.onAdd = function (map) {
        var div = L.DomUtil.create('div', 'info legend');
        tags.forEach(function (element){
            if(!(element['value'] == 'No Data' || element['value'] == 'Shadows' || element['value'] == 'Clouds')){
                div.innerHTML +=
                    '<div><i style="background:' + element['color'] + '"></i> ' +
                    element['value'] + '</div>';
            }
        });
        return div;
    };

    legend.addTo(map);

    function whenReady() {
        loadUrl(sampleUrl, paintPolygons);
        loadUrl(countUrl, printRequest);
        document.getElementById("update").addEventListener("click", function(){
            if(selectedPolygonId!=null && selectedObject!=null) {
                console.log(selectedObject);
                var selector = document.getElementById("classes");
                var url = '/caribbeanapi/sample/' + selectedObject["id"] + '/';
                var updateObj = {pk: selectedObject["id"],
                                 tag_editable: parseInt(selector.value)};
                updateInfoBis(url, selectedPolygonId, updateObj, repaintUpdate);
            } else {
                console.log("No Element selected yet.");
            }
        });
        document.getElementById("next").addEventListener("click", function(){
            if(selectedPolygonId!=null && selectedObject!=null) {
                moveToPolygon(getNext(selectedPolygonId));
                console.log(selectedPolygonId);

            } else {
                console.log("No Element selected yet.")
            }
        });
        document.getElementById("prev").addEventListener("click", function(){
            if(selectedPolygonId!=null && selectedObject!=null) {
                moveToPolygon(getPrev(selectedPolygonId));
                console.log(selectedPolygonId);
            } else {
                console.log("No Element selected yet.")
            }
        });
        document.getElementById("move").addEventListener("click", function(){
            if(selectedPolygonId!=null && selectedObject!=null) {
                    moveToPolygon(selectedPolygonId);
            } else {
                console.log("No Element selected yet.")
            }
        });
        document.getElementById("validate").addEventListener("click", function(){
            if(selectedPolygonId!=null && selectedObject!=null) {
                var selector = document.getElementById("classes");
                var url = '/caribbeanapi/sample/' + selectedObject["id"] + '/';
                var updateObj = {pk: selectedObject["id"],
                                 validated: true};
                updateInfoBis(url, selectedPolygonId, updateObj, repaintUpdate);
            } else {
                console.log("No Element selected yet.")
            }
        });
    }

  if(document.readyState === "complete" || (document.readyState !== "loading" && !document.documentElement.doScroll)) {
                whenReady();
      } else {
            document.addEventListener("DOMContentLoaded", whenReady);
      }

</script>
</body>
</html>